.chat-container {
    width: 100%;
    display: flex;
}

.chat {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 0 0 2vw;
}

.chat-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.chat-users {
    display: flex;
    flex-direction: row;
}

.chat-messages {
    min-width: 70%;
}

.users-title {
    line-height: 48px;
    margin-right: 5px;
}

.users-view {
    display: flex;
    overflow: scroll;
}

.user-view {
    display: inline-block;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 1vh;
    margin: 5px;
    padding: 8px 15px;
}

.messages-box {
    height: 40vh;
    overflow: auto;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    border-radius: 2vh;
    padding: 15px;
}

.messages-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.messages-text {
    margin: 0;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    min-width: 80px;
    max-width: 90%;
    padding: 10px;
    border-radius: 1vh 1vh 1vh 0;
    display: inline-block;
    word-wrap: break-word;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 2vw;
}

textarea.materialize-textarea {
    max-height: 10vh;
    min-height: 10vh;
    margin: 0;
    overflow-y: scroll;
}
