.login-container {
    width: 100%;
    display: flex;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 2vh;
    padding: 0 0 2vw;
}

.container {
    width: 60%;
}
