body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
    outline: none;
    border: none;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

h1 {
    margin: 0;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: green;
}

p {
    margin: 0;
}

.app {

    background-image: url('./images/background.jpg');
    min-height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.app::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(93, 84, 240, 0.5);
    background: linear-gradient(to right, rgba(0, 168, 255, 0.5), rgba(185, 0, 255, 0.5));
}
